			
				
				
				
			<form class="form-signin" action="/reg" method="post" onsubmit='return validater("ddd");' accept-charset="utf-8">
			<div id="errmsgs" class="alert alert-danger"><%= error %></div>
			 <h2 class="form-signin-heading">Sign up</h2>
					<input name="email" id="email" class="form-control" placeholder="Email address" autofocus /><br />
				
				<input name="pword" id="pword" type="password" class="form-control" placeholder="Password" /><br />
				 <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
			</form>